*{  
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;  
  font-family:'poppins'  , sans-serif;
}

.header{
 display: flex;
 position: fixed;
 align-items: center;
 width: 100%;
 height: 50px;
 z-index: 1;
background-image: linear-gradient( #633e22,#e6d9cd00);
 padding: 20px 35px;
 font-size: 40px;
 

}
.title{
  padding: 0 20px;
  color: rgb(3, 0, 0);
  font-size: 1em;
  font-weight: 100px;
  font-family: "Lobster", sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 40px;
  
  }
.navbar{
 display: flex;
 flex-direction: row;
 justify-content: right;
 justify-content: space-evenly;
 overflow: hidden;
 position: absolute;
 right: 10px;
 font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-size: 20px;
padding-left:  10px; ;

}

.navbar a{
 display:block;
 float: left;
 color:rgb(255, 255, 255);
 text-align: center;
 text-decoration: none;
 padding: 5px 15px;
 text-align: right;
 font-size: 20px;

}
.navbar a:hover{
 color: #fdfdfd;
 background-color: rgb(203, 151, 107);
 background-image: linear-gradient(rgb(158, 113, 77) ,#7c5638);
 border-radius: 20px;
}


.contact-info {
  color: #746f6f;
width: 600px;
  left: 800px;
  padding-left: 100px;
  position: relative;
  float: right;
  bottom: 550px;
  

}
.phone{
border-radius: 10px 10px 10px 10px;
left: 20px;
background-color: hsl(33, 89%, 83%);
border: 50px;
text-align: center;
font-size: 30px;
}
.adreas{
right: 0px;
background-color: hsl(33, 89%, 83%);
border:50px ;
border-radius: 10px 10px 10px 10px;
text-align: center;
font-size: 30px;
}
.gmail{
background-color: hsl(33, 89%, 83%);
border: 30px; 
border-radius: 10px 10px 10px 10px;
text-align: center;
font-size: 30px;
}

.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  padding: 30px;
}

.contact-info p{
    margin-bottom: 10px;
    color:#312f2f;
}
.contact-info i{
    color: #46240a;
    margin-right: 10px;
    padding: 10px;

}
.contact-info i:hover{
  color: #45a049;
}
.d{

  background:transparent ;
  border: 1px;
  background:rgb(0, 0, 0, .5) ;
  border-radius: 20px 20px 20px 20px;
  width: 790px;
  height: 500px;

}
.contact{
  background: url(zzz.jpg ) ;
  background-size: cover;
  padding-top: 100px;
}
.contact{
    min-height: 100vh;
    background-color:rgb(253, 225, 200);
    padding: 40px;
    text-align: center;
    padding-top: 100px;
}
.container{
    max-width: 800px;
    margin: auto;
}
.container h2{
font-size: 36px;
margin-bottom: 40px;
color:white;
padding: 20px;
}
.contact-wrapper{
    display: grid;
    
    grid-gap: 200px;
}

.contact-form{
  text-align: left;
  border: black;

}
.contact-form h3{
  font-size: 25px;
  margin-bottom: 0px;
  color:white;
  padding: 20px;
}
.form-group{
    margin-bottom: 20px;
}
input,textarea{
    width: 400px;
    height: 40px;
    bottom: 100px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
    left: 40px;
    padding: 10px;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
/* From Uiverse.io by gharsh11032000 */ 
button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  margin: 20px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

button:hover::before {
  scale: 3;
}

button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

button:active {
  scale: 1;
}
/* From Uiverse.io by HauNTH */ 
.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social .social-item {
  margin: 0 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-item .social-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(0, 0);
  transition: all 0.4s ease;
}

.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.social .social-item:nth-child(1) a {
  color: #3b5999;
}

.social .social-item:nth-child(1):hover a {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::before {
  background: #3b5999;
}

.social .social-item:nth-child(1):hover a::after {
  background: #3b5999;
}

.social .social-item:nth-child(2) a {
  color: #55acee;
}

.social .social-item:nth-child(2):hover a {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::before {
  background: #55acee;
}

.social .social-item:nth-child(2):hover a::after {
  background: #55acee;
}

.social .social-item:nth-child(3) a {
  color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
  background: #dd4b39;
}

.social .social-item:nth-child(4) a {
  color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
  background: #e4405f;
}

.social .social-item .social-link:hover {
  color: #ffffff;
}



.container2{

margin: auto;
  background-color:#9d6a3d;
  width: 100%;
  padding-left: 30px;
  
  
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
ul{
  list-style: none;
}
.footer{
  background-color:#9d6a3d;
  padding: 50px 80px;
  
  
}
.footer-col{
  width: 25%;
  padding: 20PX 15px;

  

}

.footer-col h4{
  font-size: 32px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  font-weight: 500px;
  position: relative;
 
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color:white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col p{
  color: white;
  width: 100%;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color:#F7DCB9;
padding-left:8px ;
}

.footer-col .sccial-link a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0px 10px 10px 0px;
  text-align: center;
  line-height:40px ;
  border-radius: 50%;
  color: black;
  transition: all 0.5s ease;
  padding-top: 10px;
}
.footer-col .sccial-link a:hover{
  color: #DEAC80;
  
} 

.footerbotton{
  background-color:#9d6a3d;
  padding: 30px;
  text-align: center;
}
.footerbotton p{
  color: white;
}
.desiner{
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}